* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* background image, sunny, cloudy, rainy, snowy, storms */
/* change header background based on sunny, cloudy, rainy, snowy, storms */

header {
    padding: 10px;
    text-align: center;
    border-bottom: 3px ridge black;
    background-image: linear-gradient(to bottom right, #616727, #E5F25F);
}

.row {
    margin: 10px;
}

.labelStyle {
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

.prevLoc {
    text-align: center;
}

#fetchBtn {
    margin-top: 10px;
    margin-bottom: 10px;
}

#form {
    text-align: center;
    margin: auto 0;
}

.currentData {
    border: 2px dotted #616727;
    text-align: center;
    font-size: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background-color: #5ff29a;
}

.future {
    text-align: center;
    border: 2px dotted black;
    background-color: lightblue;
}

li {
    list-style-type: none;
    margin: 2px;
    text-align: center;
}